/* main_image */
.main_visual {
    height: 422px;
    border-top: 0px solid #d7d7d7;
    overflow: hidden;
    position: relative;
}

.main_image {
    height: 422px;
    overflow: hidden;
    position: relative;
}

.main_image ul {
    width: 100%;
    height: 422px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
    height: 422px;
}

.main_image li span {
    display: block;
    width: 100%;
    height: 422px
}

.main_image li a {
    display: block;
    width: 100%;
    height: 422px
}

.main_image li .img_1 {
    background: url('../images/img_main_1.jpg') center top no-repeat
}

.main_image li .img_2 {
    background: url('../images/img_main_2.jpg') center top no-repeat
}

.main_image li .img_3 {
    background: url('../images/img_main_3.jpg') center top no-repeat
}

.main_image li .img_4 {
    background: url('../images/img_main_4.jpg') center top no-repeat
}

.main_image li .img_5 {
    background: url('../images/img_main_5.jpg') center top no-repeat
}

div.flicking_con {
    position: absolute;
    top: 360px;
    left: 50%;
    z-index: 999;
    width: 300px;
    height: 21px;
    margin: 0 0 0 -50px;
}

div.flicking_con a {
    float: left;
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    background: url('../images/btn_main_img.png') 0 0 no-repeat;
    display: block;
    text-indent: -1000px
}

div.flicking_con a.on {
    background-position: 0 -21px
}

#btn_prev, #btn_next {
    z-index: 11111;
    position: absolute;
    display: block;
    width: 73px !important;
    height: 74px !important;
    top: 50%;
    margin-top: -37px;
    display: none;
}

#btn_prev {
    background: url(../images/hover_left.png) no-repeat left top;
    left: 100px;
}

#btn_next {
    background: url(../images/hover_right.png) no-repeat right top;
    right: 100px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;

}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;

    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

body {
    font-family: 'Microsoft Yahei';
    margin-top: -23px;
    font-size: 14px
}

ul {
    list-style: none;
}

.a {
    color: #000000;
}

.flash {
    margin-bottom: 10px;
}

.flash img {
    width: 100%
}

.flash ul.bxslider {
    list-style: none;
}

.flash div.bx-pager {
    bottom: 4%;
}

.flash div.bx-controls-direction {
    display: none;
}

.main {
    padding: 0px 0px 10px 0px;
}

.img-thumbnail:hover, .opacity_img:hover {
    opacity: 0.7;
}

/*导航菜单*/

.navbar {
    background-color: #000;
    border: none;
    margin-top: 28px;
    margin-bottom: 0px;
}

.nav navbar-nav li a {
    color: #FFF
}

.nav_small li {
    border-bottom: red
}

.navbar-nav > li > a {
    font-family: 'microsoft yahei';
}

.nav_small {
    background-color: #fff;
    background: rgba(48, 143, 249, 0.9);
    border: none;
    box-shadow: none;
}

.nav_small li a {
    line-height: 24px;
    font-size: 13px;
    border-bottom: 1px solid #45AED6;
}

.nav_small li a:hover {
    background-color: #fff;
}

#app_menudown {
    position: absolute;
    top: 0px;
    right: 0px;
}

#app_menudown:hover {
    background-color: #efefef;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*底部信息*/
footer {
    text-align: center;
    background-color: #000;
    color: #f4f3f3;
    font-size: 13px;
}

.copyright {
    line-height: 20px;
}

.copyright a {
    color: #f4f3f3;
}

.foot_nav {
    width: 25%;
    float: left;
    background-color: #000;
    text-align: center;
}

.foot_nav:hover, .foot_nav:focus {
    background-color: #e4e4e4;
}

.foot_nav a {
    color: #898989;
    display: block;
}

.foot_nav a:hover, .foot_nav a:focus {
    text-decoration: none;
}

.foot_nav span {
    display: block;
    padding: 3px 0px 0px 0px;
}

.webshare {
    width: 229px;
    padding: 5px;
}

.webshare a {
    float: right;
}

.container p {
    padding: 10px;
    margin: 1px;
    color: #FFFFFF;
}

/*左侧分类*/
.left_nav {
    background: url(../images/about_title.png) left top no-repeat;
}

.left_h1 {
    text-indent: 10px;
    color: #1a1d22;
    font: 22px/34px 'Microsoft Yahei';
    background: #ffd7d74d;
    height: 45px;
    line-height: 45px;
    border: 1px solid #757677;
    border-radius: 4px;
}

.left_p {
    color: #45AED6;
    text-transform: uppercase;
    font: 26px/24px 'impact';
    height: 20px;
    text-indent: 20px;
}

.left_nav_ul {
    list-style: none;
    margin: 1px;
    padding: 0px;
    margin: 7px 0px 25px 0px;
}

.left_nav_ul li {
    margin-bottom: 8px;
    position: relative
}

.left_nav_ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    background: url(../images/left_li_bg.png) left center repeat-x;
    line-height: 33px;
    text-align: center;
    text-indent: 10px;
}

.left_nav_ul li a:hover, .left_nav_ul li a.left_active {
    background: url(../images/left_li_hover.png) left center repeat-x;
    color: #fff;
}

.left_search {
    margin-bottom: 26px;
}

.left_search a {
    background-color: #dddddd;
    color: #333333;
}

.left_search a:hover {
    background-color: #45AED6;
    color: #fff;
}

/*小类*/
.left_snav_ul {
    list-style: none;
    padding: 0px;
    background: #f7f7f7;
    display: none;
}

.left_snav_ul li {
    margin: 0px;
}

.left_snav_ul li a {
    border: 0;
    border-bottom: 1px solid #ccc;
    color: #6d6d6d;
    line-height: 32px;
    background: none;
}

.left_snav_ul li a:hover {
    background: none;
    color: #45AED6;
}

.menu_head {
    cursor: pointer;
    font: 600 18px/30px "Open Sans", sans-serif;
    width: 35px;
    text-align: center;
    color: #FFF;
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 0px;
}

.menu_head:hover {
    background: rgba(34, 34, 34, 0.1);
}

.index_contact {
    padding-bottom: 5px;
    color: #000;
    line-height: 20px;
    font-size: 15x;
}

.point a {
    color: #000000;
}

a:hover, a:focus {
    color: #FF0000;
}

.active a {
    color: #ffffff
}

.dx {
    background: url(../images/ix.jpg) no-repeat center center;
    height: 800px;
    width: 100%;
}

.ent-gif {
    background: url(../images/b1.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.ent11 {
    background: url(../images/b11.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.main {
    background: url(../images/b2.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.product_info li {
    line-height: 24px;
    padding-bottom: 12px;
}

.product_con {
    clear: both;
    border-top: 1px dotted #000;
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 0px 0px;
    line-height: 26px;
    overflow: auto;
}

#pic-page {
    text-align: center;
    margin-top: 10px;
}

#pic-page a:hover img, #pic-page a.active img {
    border: solid #5280DD 1px;
}

#pic-page a img {
    width: 40px;
    padding: 2px;
    border: solid #ccc 1px;
    margin-bottom: 5px;
}

.point {
    clear: both;
    margin: 0px 0px 10px 0px;
    padding-bottom: 40px;
    line-height: 22px;
}

.point span.to_prev {
    text-align: center;
}

.thumbnail {
    background-color: transparent;
    border: 0px solid #ddd;
    margin-bottom: 2px;
}

.cat_title a {
    color: #fff;
}

a:hover, a:focus {
    color: #FF0000;
}

.thumbnail h4 {
    text-align: center;
}

.thumbnail a {
    color: #000000;
}

a:hover, a:focus {
    color: #FF0000;
}

.cat_title {
    margin: 20px 10px 15px 10px;
    height: 36px;
    text-align: center;
    font-weight: bold;
    background: url(../images/line.png) left bottom no-repeat;
}

.cat_title span {
    color: #24272e;
    font: 15px 'Microsoft Yahei';
    background: #0081BC;
    margin: 19px 5px;
    /*border: 2px solid #0081BC;*/

    border-radius: 15px;
}

.cat_title small {
    font-weight: normal;
    float: right;
    color: #000;
    line-height: 36px;
}

/*新闻列表*/
.list_news {
    clear: both;
    list-style: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.list_news li {
    color: #000;
    background: url(../images/li.png) no-repeat left 14px;
    line-height: 22px;
    padding: 8px 0px;
    text-indent: 13px;
    border-bottom: 1px dashed #e3e2e2; /*dotted*/
}

.list_news li a {
    color: #000;
}

.list_news li a:hover {
    text-decoration: none;
    color: #FF0000;
}

.contents {
    clear: both;
    padding: 20px 0px 20px 0px;
    margin-bottom: 20px;
    line-height: 30px;
    color: #000;
    overflow: auto;
}

.contents_title {
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    color: #000;
    font-size: 18px;
    color: #434343;
    font-weight: bold;
    line-height: 34px;
    font-family: 'Microsoft Yahei';
}

.news_time {
    float: right;
}

/*分页样式*/
.page {
    clear: both;
    margin: 5px 0px 10px 0px;
    text-align: center;
}

.page a {
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    border: #000 1px solid;
    padding: 4px 9px;
    margin: 2px;
    margin-bottom: 5px;
    color: #000;
    text-decoration: none
}

.page a:hover, .page a:focus {
    font-family: Arial;
    font-size: 13px;
    border: #FF0000 1px solid;
    padding: 4px 9px;
    color: #fff;
    background-color: #FF0000;
}

.page .current {
    font-family: Arial;
    border: #FF0000 1px solid;
    font-size: 13px;
    padding: 5px 9px;
    color: #fff;
    margin: 2px;
    background-color: #FF0000
}

/*-- footer --*/

.footer {
    background: #000;
}

.footer-grids {

    padding: 2em 0;

    text-align: center;

}

.footer-grid-left {

    float: left;

    margin-left: 2em;

}

.footer aa {

    color: #000;

}

.aa a {

    color: #fff;

}

.aa a:hover {

    color: #FF0000;

    text-decoration: underline;

}

.footer-right ul {

    padding: 1em 0 0;

    margin: 0;

}

.footer-grid-right ul li {

    display: inline-block;

    margin: 0 5px;

}

/*-- //footer --*/

/*大屏幕*/

@media screen and (min-width: 769px) {
    .logo {
        margin: 4px 0px 0px 5px;
        max-width: 380px;
    }

    .navbar {
        min-height: 80px;
    }

    .navbar-nav {
        float: right;
    }

    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 16px;
        height: 80px;
        line-height: 40px;
        font-family: 'microsoft yahei';
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {

        border-bottom: 2px solid #FF0000;

        background-color: #CCCCCC;
    }

    #app_menudown {
        display: none;
    }

    .index_left_nav, .footer_nav {
        display: none;
    }

    .about_contents {
        text-indent: 25px;
    }

    /*栏目导航*/
    .index_left_nav {
        display: none;
    }

    .left_nav {
        clear: both;
    }

    .left_nav_ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    .left_nav_ul > li {
        margin-bottom: 8px;
        position: relative;
        margin: 0px 10px 10px 0px;
    }

    .left_nav_ul > li > a {
        text-decoration: none;
        color: #000;
        display: block;
        text-align: center;

        border-radius: 5px;
        font-family: 'Microsoft YaHei';
    }

    .left_nav_ul > li > a:hover, .left_nav_ul li a.left_activecolor:#fff

;
}

}

/*小屏幕*/

@media screen and (max-width: 768px) {

    .logo {
        margin: 4px 0px 0px 5px;
        max-width: 260px;
    }

    .flash div.bx-pager { /*display:none;*/
    }

    /*栏目导航*/
    .left_nav {
        clear: both;
        padding-top: 10px;
        text-align: center;
    }

    .left_nav_ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin: 7px 0px 25px 0px;
    }

    .left_nav_ul > li {
        margin-bottom: 8px;
        position: relative
    }

    .left_nav_ul > li > a {
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;

        border-radius: 5px;
        padding: 6px 0px 6px 0px;
        font-weight: bold;
        font-family: 'Microsoft YaHei';
    }

    .left_nav_ul > li > a:hover, .left_nav_ul li a.left_active {
        color: #fff;
    }

}

@media screen and (max-width: 767px) {

    .copyright_p {
        display: none;
    }

}

@media screen and (max-width: 300px) {

    .logo {
        margin: 4px 0 0 5px;
        max-width: 180px;
    }

}

/*420px到768px*/

@media screen and (min-width: 300px) and (max-width: 768px) {
    .logo {
        margin: 4px 0px 0px 5px;
        max-width: 240px;
    }

    .col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {

        float: left;

    }

    .col-mm-12 {

        width: 100%;

    }

    .col-mm-11 {

        width: 91.66666667%;

    }

    .col-mm-10 {

        width: 83.33333333%;

    }

    .col-mm-9 {

        width: 75%;

    }

    .col-mm-8 {

        width: 66.66666667%;

    }

    .col-mm-7 {

        width: 58.33333333%;

    }

    .col-mm-6 {

        width: 50%;

    }

    .col-mm-5 {

        width: 41.66666667%;

    }

    .col-mm-4 {

        width: 33.33333333%;

    }

    .col-mm-3 {

        width: 25%;

    }

    .col-mm-2 {

        width: 16.66666667%;

    }

    .col-mm-1 {

        width: 8.33333333%;

    }

}
/*header*/

.header-f{
    float: right;
    margin-top: 10px;
}
#header-img{
    float: left;
}

